<form class="p-4" [formGroup]="addTodoForm" (ngSubmit)="handleFormSubmit()">
  <div class="flex flex-col gap-1">
    <label for="title">Title </label>
    <input class="border border-black rounded" id="title" type="text" formControlName="title" required />
  </div>

  <div class="flex flex-col gap-1">
    <label for="description"> Description </label>
    <input
      class="border border-black rounded" 
      id="description"
      type="text"
      formControlName="description"
      required
    />
  </div>

  <button class="text-center mt-4 bg-blue-400 text-white py-1 px-2 rounded" type="submit">Add Todo</button>
</form>
